<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mobilefactory.lotto.event.model.dao.EventMapper">

    <resultMap id="eventResultMap" type="com.mobilefactory.lotto.event.model.vo.Event">
        <id property="eventId" column="EVENT_ID"/>
        <result property="eventName" column="EVENT_NAME"/>
        <result property="startDate" column="START_DATE"/>
        <result property="endDate" column="END_DATE"/>
        <result property="announceStart" column="ANNOUNCE_START"/>
        <result property="announceEnd" column="ANNOUNCE_END"/>
        <result property="maxParticipants" column="MAX_PARTICIPANTS"/>
        <result property="totalWinners" column="TOTAL_WINNERS"/>
        <result property="status" column="STATUS"/>
        <result property="createdAt" column="CREATED_AT"/>
        <result property="updatedAt" column="UPDATED_AT"/>
    </resultMap>

    <select id="selectActiveEvent" resultMap="eventResultMap">
        SELECT * FROM MF_EVENT
         WHERE 
               STATUS = 'ACTIVE'
           AND 
               SYSDATE BETWEEN START_DATE AND END_DATE
         ORDER 
            BY 
               EVENT_ID DESC
         FETCH FIRST 1 ROW ONLY
    </select>



</mapper>